{% unless product_search_result.aggregations.empty? %}

<div class="row">
  {% comment %}
     Products search
  {% endcomment %}
  <div class="col-12 input-group mb-3 pl-lg-0 pr-lg-0 mt-2">
    <input type="text" class="form-control" placeholder="Search..." aria-label="Search...">
  </div>
  {% comment %}
      Categories filter
  {% endcomment %}
  <div class="col-6 col-lg-12">
    <h5 class="font-weight-bold text-uppercase">
      {{ 'collections.tags.category.label' | t }}
    </h5>
    <ul class="list-unstyled">
      {% for coll in collections %}
      <li>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" value="{{ coll.url }}" {% if collection.handle == coll.handle %}checked{% endif %} id="{{ coll.title | escape }}" />
          <label class="custom-control-label" for="{{ coll.title | escape }}">{{ coll.title | escape }} <small>({{coll.all_products_count}})</small></label>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% comment %}
    Other filters
  {% endcomment %}
    {% for aggregation in product_search_result.aggregations %}
    {% assign current_tags = current_product_search_criteria.terms %}
    <div class="col-6 col-lg-12">
        {% capture group_label %}{% if aggregation.field == 'price' %}{{ 'collections.tags.price.label' | t }}{% else %}{{ aggregation.label }}{% endif %}{% endcapture %}
        <h5 class="font-weight-bold text-uppercase">{{ group_label | escape }}</h5>
        <ul class="list-unstyled">
            {% for custom_tag in aggregation.items %}
                {% assign tag_checked = false %}
                {% for c_tag in current_tags %}
                    {% if aggregation.field == c_tag.name and custom_tag.value == c_tag.value %}
                        {% assign tag_checked = true %}
                        {% break %}
                    {% endif %}
                {% endfor %}
                {% assign tag = custom_tag %}
                {% include 'tag-label' %}
                {% if tag_checked  %}
                    <li>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" value="{{ custom_tag.value }}" checked id="{{ tag_label }}" />
                        <label class="custom-control-label" for="{{ tag_label }}">{{ tag_label }} <small>({{custom_tag.count}})</small></label>
                      </div>
                    </li>
                {% else %}
                     <li>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" value="{{ custom_tag.value }}" id="{{ tag_label }}" />
                        <label class="custom-control-label" for="{{ tag_label }}">{{ tag_label }} <small>({{custom_tag.count}})</small></label>
                      </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>


<!-- <script>
    $(function() {
      var currentTags = '{{ current_tags }}',
          filters = $('.advanced-filter'),
          activeTag,
          activeHandle;

      filters.each(function() {
        var el = $(this),
            group = el.data('group'),
            isActive = el.hasClass('active-filter');
      });

      filters.on('click', function(e) {
        var el = $(this),
            group = el.data('group'),
            url = el.find('a').attr('href');

        // Continue as normal if we're clicking on the active link
        if ( el.hasClass('active-filter') ) {
          return;
        }

        // Get active group link (unidentified if there isn't one)
        activeTag = $('.active-filter[data-group="'+ group +'"]');

        // If a tag from this group is already selected, remove it from the new tag's URL and continue
        if ( activeTag && activeTag.data('group') === group ) {
          e.preventDefault();
          activeHandle = activeTag.data('handle') + '+';

          // Create new URL without the currently active handle
          url = url.replace(activeHandle, '');

          window.location = url;
        }
      });
    });
</script> -->
{% endunless %}

