{% unless grid_item_width %}
    {% assign grid_item_width = 'col-lg-3 col-6' %}
{% endunless %}

{% unless current_collection %}
    {% assign current_collection = collection %}
{% endunless %}

{% assign on_sale = false %}
{% if product.compare_at_price.amount > product.price.actual_price.amount %}
    {% assign on_sale = true %}
{% endif %}

{% assign unavailable = false %}
{% assign sold_out = false %}

{% if product.buyable and product.in_stock != true %}
    {% assign sold_out = true %}
{% endif %}

{% if product.buyable != true  %}
    {% assign unavailable = true %}
{% endif %}

<div class="mb-4 {{ grid_item_width }}">
    <a href="{{ product.url | absolute_url }}" class="text-decoration-none d-flex flex-column">
        <div class="mb-3 align-self-center">
                {% if product.featured_image %}
                <img class="mw-100" src="{{ product.featured_image | img_url: "168x168" }}" alt="{{ product.featured_image.alt | escape }}" />
                {% else %}
                <div class="h6">
                  <i class="fas fa-camera fa-10x mw-100"></i>
                </div>
                {% endif %}
        </div>
        <div class="mb-2">
            {% if product.available %}
            <button class="btn btn-secondary w-100 d-flex justify-content-center p-2" title="{{ 'products.general.add_to_cart' | t }}">
                <i class="fas fa-shopping-cart"></i>
            </button>
            {% endif %}
            {% if unavailable %}
            <button class="btn btn-secondary w-100 d-flex justify-content-center p-1" title="{{ 'products.general.add_to_cart' | t }}" disabled>
              <span class="font-weight-bold text-uppercase">{{ 'products.product.unavailable' | t}}</span>
            </button>
            {% endif %}
            {% if sold_out %}
            <button class="btn btn-secondary w-100 d-flex justify-content-center p-1" title="{{ 'products.general.add_to_cart' | t }}" disabled>
              <span class="font-weight-bold text-uppercase">{{ 'products.product.sold_out' | t }}</span>
            </button>
            {% endif %}
        </div>
        <p>{{ product.title }}</p>

        {% include 'product-price' %}

    </a>
</div>
