{% layout 'login' %}
<div class="container">
    <form accept-charset="UTF-8" class="mt-5" action="{{ '~/account/forgotpassword' | absolute_url }}" method="post" id="recover_customer_password" name="recover_customer_password">
        <div class="window d-flex flex-column align-items-center" id="recover_password">
            <h2>{{ "common.login.recover_password_header" | t }}</h2>
            <div class="form-group">
                <input ng-model="email" id="recover-email" name="email" required placeholder={{ "common.login.email" | t }} />
            </div>
            <button type="submit" class="btn btn-primary mt-3">{{ "common.login.submit" | t }}</button>
        </div>
        {{ antiforgery }}
    </form>
</div>
