<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
  <meta charset="utf-8">

    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>
    <meta content="index, follow, noodp" name="robots"/>
    <meta content="index, follow" name="googlebot"/>
    <meta content="notranslate" name="google"/>
    <meta content="telephone=no" name="format-detection"/>

  <title>{{ store.title }}</title>
  <base href="/">

  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet"/>

    <link href="{{'favicon.ico' | static_asset_url }}" rel="icon" type="image/x-icon">
    {{ 'bundle/default.scss.css' | static_asset_url | append_version | stylesheet_tag }}

</head>
<body class="h-100 login-screens">
	<main class="h-100 d-flex login-wrapper">
    <div class="login-left-container">
      <div class="login-shop-logo">
                   <a class="navbar-brand" href="{{ "/" | absolute_url }}"><img src="{{ 'shop-logo.svg' | asset_url }}" alt="Smartshop" class="shop-logo" />
                   <a class="navbar-brand-mobile" href="{{ "/" | absolute_url }}"><img src="{{ 'shop-logo-mobile.svg' | asset_url }}" alt="Smartshop" class="shop-logo" /></a></a>
       </div>
       {{ content_for_layout }}
     <div class="login-copyright">
        <div class="login-copyright-text">Copyright © 2020&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;All rights reserved</div>
     </div>
   </div>

   <div class="login-right-container">
     <div class="login-right-container-bg"></div>
   </div>
  </main>
</body>
</html>
