<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="robots" content="index, follow, noodp">
  <meta name="googlebot" content="index, follow">
  <meta name="google" content="notranslate">
  <meta name="format-detection" content="telephone=no">

  <title>{{ store.title }}</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">

  <link rel="icon" type="image/x-icon" href="favicon.ico">
  {{ 'bundle/default.scss.css' | static_asset_url | append_version | stylesheet_tag }}

  <script>
      window.BASE_URL = '{{ "/" | full_url }}';
      window.STORE_NAME ='{{current_store.name}}';
      window.STORE_LNG = '{{current_language.culture_name}}';
  </script>

</head>
<body>
  {{ content_for_header }}

  {{ content_for_layout }}

<script src="{{ 'bundle/dist/js/chunk-vendors.js' | static_asset_url | append_version }}"></script>
</body>
</html>
