<div id="{{ block.__id }}" class="block block--info {{block.topPadding}} {{block.bottomPadding}}
    {% if block.topDivider == 'True' %} block--divider-top {% endif %}
    {% if block.bottomDivider == 'True' %} block--divider-bottom {% endif %}
    {% if block.backgroundColorHex == '' %}{{block.backgroundColor}}{% endif %}"
    {% if block.backgroundColorHex != '' %}style="background-color:{{block.backgroundColorHex}}"{% endif %}>
    <div class="block__inner container">
        <div class="row justity-content-center">
            <div class="{{block.textAreaWidth}}">
            {% if block.title != '' %}
                {% include 'blocks/seo-text' tag: block.titleSeoTag, text: block.title, class: 'block__t' %}
                    
                {% include 'blocks/headings' headings: block.headings %}
            {% endif %}
            <div class="block__space"></div>
            {% if block.paragraph != '' %}
                {% if block.overlayGradient == 'True' %}
                    {% if block.backgroundColor == 'block--bg-light' %}
                        {% assign gradientColor = 'rgba(248,248,248)' %}
                    {% elsif block.backgroundColor == 'block--bg-orange' %}
                        {% assign gradientColor = 'rgba(255,154,5)' %}
                    {% else %}
                        {% assign gradientColor = 'rgba(255,255,255)' %}
                    {% endif %}
                    {% if block.backgroundColorHex != '' %}
                        {% assign gradientColor = block.backgroundColorHex %}
                    {% endif %}
                    {% assign gradientColorFullOpacity = gradientColor | replace ")", ",0)" %}
                    {% assign gradientColorNoOpacity = gradientColor | replace ")", ",1)" %}
                    <style>
                        .block__descr--fade-{{block.id}} {
                            position: relative;
                        }
                        .block__descr--fade-{{block.id}}::after {
                            content: ' ';
                            height: 100%;
                            width: 100%;
                            position: absolute;
                            bottom: 0;
                            background: -moz-linear-gradient(top, {{gradientColorFullOpacity}} 0%, {{gradientColorNoOpacity}} 100%);
                            background: -webkit-gradient(left top, left bottom, color-stop(0%, {{gradientColorFullOpacity}}), color-stop(100%, {{gradientColorNoOpacity}}));
                            background: -webkit-linear-gradient(top, {{gradientColorFullOpacity}} 0%, {{gradientColorNoOpacity}} 100%);
                            background: -o-linear-gradient(top, {{gradientColorFullOpacity}} 0%, {{gradientColorNoOpacity}} 100%);
                            background: -ms-linear-gradient(top, {{gradientColorFullOpacity}} 0%, {{gradientColorNoOpacity}} 100%);
                            background: linear-gradient(to bottom, {{gradientColorFullOpacity}} 0%, {{gradientColorNoOpacity}} 100%);
                        }
                    </style>
                {% endif %}
                {% if block.numberOfColumns == '1' %}
                    <div {% if block.overlayGradient == 'True' %} class="block__descr--fade-{{block.id}}" {% else %} class="block__descr" {% endif %}>{{block.paragraph}}</div>
                {% else %}
                    <div class="row">
                        {% assign words = block.paragraph | split: " " %}
                        {% assign columnsWordsCount = [] %}
                        {% if block.numberOfColumns == '2' %}
                            {% assign wordsInColumn = words.size | divided_by: 2 %}
                            {% assign mod = words.size | modulo: 2 %}
                            {% for n in (0..1) %}
                                {% assign columnsWordsCount[n] = wordsInColumn %}
                            {% endfor %}
                            {% assign compareIndex = 2 %}
                        {% elsif block.numberOfColumns == '3' %}
                            {% assign wordsInColumn = words.size | divided_by: 3 %}
                            {% assign mod = words.size | modulo: 3 %}
                            {% for n in (0..2) %}
                                {% assign columnsWordsCount[n] = wordsInColumn %}
                            {% endfor %}
                            {% assign compareIndex = 3 %}
                        {% else %}
                            {% assign wordsInColumn = words.size | divided_by: 4 %}
                            {% assign mod = words.size | modulo: 4 %}
                            {% for n in (0..3) %}
                                {% assign columnsWordsCount[n] = wordsInColumn %}
                            {% endfor %}
                            {% assign compareIndex = 4 %}
                        {% endif %}

                        {% if mod > 0 %}
                            {% assign index = 0 %}
                            {% for m in (1..mod) %}
                                {% assign columnsWordsCount[index] = columnsWordsCount[index] | plus: 1 %}
                                {% if index < compareIndex %}
                                    {% assign index = index | plus: 1 %}
                                {% else %}
                                    {% assign index = 0 %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        {% assign startIndex = 0 %}
                        {% assign endIndex = 0 %}
                        {% for count in columnsWordsCount %}
                            {% if endIndex == 0 %}
                                {% assign endIndex = count | minus: 1 %}
                            {% else %}
                                {% assign endIndex = endIndex | plus: count %}
                            {% endif %}
                            <div class="col-lg">
                                <div class="block__descr">
                                    {% for i in (startIndex..endIndex) %}
                                        {{words[i]}}
                                    {% endfor %}
                                </div>
                            </div>
                            {% assign startIndex = startIndex | plus: count %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}
            </div>
        </div>
    </div>
</div>
