{% assign display_block = true %}
{% assign request = request_url | format:null %}

{% if block.utmString and block.utmString != '' %}
  {% assign display_block = request contains block.utmString %}
  {% if block.utmNegotiate == 'True' %}
    {% comment %} i couldn't find a negotiate operator {% endcomment %}
    {% if display_block %}
      {% assign display_block = false %}
    {% else %}
      {% assign display_block = true %}
    {% endif %}
  {% endif %}
{% endif %}

{% if display_block or is_preview_mode %}
<div id="{{ block.__id }}" style="position: relative;" class="{{ block.style }}">
  <div class="{% include 'blocks/helpers/block-paddings' %} block container">
    {% assign product = block.product %}
    <div class="px-5">
      {% include 'blocks/helpers/block-title' givenTitle: product.name %}
    </div>
    {% if product %}
      {% if block.hidePrice != 'True' %}
        <div class="px-5 py-3">
          <div class="d-flex flex-column price-block">
              <span class="d-flex">
                  <strong class="font-weight-bold h5 basic-price align-self-center product-price">
                      <span>{{ product.price }}</span>
                  </strong>
              </span>
          </div>
        </div>
      {% endif %}
    <div class="px-5 row {% if block.reverse == 'True' %} flex-row-reverse {% endif %}">
      <div class="col">
        <img class="img-fluid" src="{{ product.imgSrc | img_url }}" />
      </div>
      <div class="col">
        <div class="py-3">
          {% if block.description != '' %}
          {{ block.description }}
          {% else %}
          {{ product.description }}
          {% endif %}
        </div>
        <div class="btn-group">
          <!--<button class="app-add-item-to-cart btn" title="{{ 'products.general.add_to_cart' | t }}" product-id="{{product.id}}" text-visible="">
            <i class="fas fa-shopping-cart"></i>
            <span>{{ 'products.general.add_to_cart' | t }}</span>
          </button>-->
          {% if block.buttonText %}
          {% if block.buttonType == 'cart' %}
            <button class="app-add-item-to-cart btn" title="{{ block.buttonText }}" product-id="{{block.product.id}}" text-visible="">
              <i class="fas fa-shopping-cart"></i>
              <span>{{ block.buttonText }}</span>
            </button>
          {% else %}
          <a class="btn btn-primary" target="_blank" href="{{ product.url }}">{{ block.buttonText }}</a>
          {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
    {% else %}
    <div class="jumbotron">
      <div class="h1 text-danger">Product not found</div>
    </div>
    {% endif %}
  </div>
</div>

{% endif %}

{% include 'blocks/helpers/catalog-script' %}

{% comment %}

__id: string (unique block id)

name: string
headerType: [ h1, h2, h3, like-h1, like-h2, like-h3 ]
titleStyle: [ null, bootstrap styles ]
style: [ light, dark ]
noTop: bool
noBottom: bool

title: string
sku: string
description: string (wysiwyg)
buttonText: string
hidePrice: bool

{% endcomment %}
