{%- assign currentVariant = null %}
{%- if is_preview_mode %}
    {%- assign currentVariant = block.variations[block.previewIndex] %}
{%- else %}
    {%- if block.criteria == 'ab' %}
        {%- assign cookieName = 'ab_'|append:block.__id %}
        {%- assign ab_value = null %}
        {%- for cookie in cookies %}
            {%- if cookie.key == cookieName %}
                {%- assign ab_value = cookie.value | strip %}
            {%- endif %}
        {%- endfor %}
        {%- if ab_value == null %}
            {%- assign variants_numbers = block.variations | size %}
            {%- assign rnd = storefront_utc_now.millisecond %}
            {%- assign new_index = rnd|modulo:variants_numbers %}
            {%- assign ab_value = block.variations[new_index].criteriaValue %}
            <script>
                document.cookie = "{{cookieName}}={{ ab_value }}";
            </script>
        {%- endif %}
    {%- endif %}
    {%- for variant in block.variations %}
        {%- if block.criteria == 'url' %}
            {%- if request_url contains variant.criteriaValue.value  %}
                {%- assign currentVariant = variant %}
            {%- endif %}
        {%- elsif block.criteria == 'userGroup' and current_user and current_user.contact %}
            {%- if current_user.contact.user_groups contains variant.criteriaValue.value %}
                {%- assign currentVariant = variant %}
            {%- endif %}
        {%- elsif block.criteria == 'ab' %}
            {%- if variant.criteriaValue.value == ab_value %}
                {%- assign currentVariant = variant %}
            {%- endif %}
        {%- endif %}
    {%- endfor %}
{%- endif %}
{%- assign variations_size = block.variations | size %}
{%- if currentVariant == null and variations_size > 0 %}
    {%- assign currentVariant = block.variations[0] %}
{%- endif %}
{%- unless currentVariant == null %}
    {%- assign currentSettings = block.settings[currentVariant.settingsIndex.value] %}

    {% unless currentSettings %}
        {% assign settings_size = block.settings | size %}
        {%- if settings_size > 0 %}
            {%- assign currentSettings = block.settings[0] %}
        {%- endif %}
    {% endunless %}
    {%- assign hasSettings = currentSettings != empty %}

    {% if hasSettings %}
    <style>
      {%- if currentSettings.backgroundColor != '' %}
        #{{ block.__id }} {
            background-color: {{ currentSettings.backgroundColor }};
        }
      {% endif %}
      {%- if currentSettings.overlayColor != '' %}
        #{{block.__id}} > .block:after {
          content: ' ';
          background-color: {{ currentSettings.overlayColor }};
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          z-index: 5;
        }
        #{{block.__id}} .cover-container {
          z-index: 10;
          position: relative;
        }
      {% endif %}

      {%- if currentSettings.descriptionColor != '' %}
        #{{block.__id}} .subtitle-container, #{{block.__id}} .subtitle-container > * {
          color: {{currentSettings.descriptionColor}};    
        }
      {% endif %}

      {%- if currentSettings.titleColor != '' %}
        #{{block.__id}} h1, #{{block.__id}} h2, #{{block.__id}} h3, #{{block.__id}} .like-h1, #{{block.__id}} .like-h2, #{{block.__id}} .like-h3 {
          color: {{currentSettings.titleColor}};
        }
      {% endif %}

    </style>
    {% endif %}


    <div id="{{ block.__id }}" style="position: relative;">
        <div class="py-5 block block-cover"
            {% if currentVariant.backgroundImage != empty and currentVariant.backgroundImage.url != '' %} style="background-image: url({{ currentVariant.backgroundImage.url }});" {% endif %}>
            <div class="container cover-container">
                <div class="d-flex row
                        {% if hasSettings and currentSettings.imagePosition == 'right' %} flex-row-reverse {% endif %}"
                        style="min-height: 550px;">
                      <div class="align-self-center col {{ hasSettings and currentSettings.imageWidth }}">
                        {% if currentVariant.image != empty and currentVariant.image.url != '' %}
                              <img src="{{ currentVariant.image.url }}" title="{{currentVariant.image.altText}}" class="img-fluid" />
                        {% elsif currentVariant.product and currentVariant.product.imgSrc %}
                            <img src="{{ currentVariant.product.imgSrc }}" title="{{currentVariant.product.name}}" class="img-fluid" />
                        {% endif %}
                      </div>
                  <div class="px-5 {{ currentVariant.textWidth }} col">

                      {% assign productName = currentVariant.title %}
                      {% unless productName and productName != '' %}
                          {% assign productName = currentVariant.product.name %}
                      {% endunless %}

                      {% if productName %}
                          {% assign headerType = 'like-h2' %}
                          {% if hasSettings %}
                            {% assign headerType = currentSettings.headerType %}
                          {% endif %}
                          {% if headerType == 'h1' %}
                            <h1>{{ productName }}</h1>
                          {% elsif headerType == 'h2' %}
                            <h2>{{ productName }}</h2>
                          {% elsif headerType == 'h3' %}
                            <h3>{{ productName }}</h3>
                          {% elsif headerType == 'h4' %}
                            <h4>{{ productName }}</h4>
                          {% elsif headerType == 'h5' %}
                            <h5>{{ productName }}</h5>
                          {% elsif headerType == 'h6' %}
                            <h6>{{ productName }}</h6>
                          {% elsif headerType == 'like-h1' %}
                            <div class="h1 like-h1">{{ productName }}</div>
                          {% elsif headerType == 'like-h3' %}
                            <div class="h3 like-h3">{{ productName }}</div>
                          {% elsif headerType == 'like-h4' %}
                            <div class="h3 like-h4">{{ productName }}</div>
                          {% elsif headerType == 'like-h5' %}
                            <div class="h3 like-h5">{{ productName }}</div>
                          {% elsif headerType == 'like-h6' %}
                            <div class="h3 like-h6">{{ productName }}</div>
                          {% else %}
                            <div class="h2 like-h2">{{ productName }}</div>
                          {% endif %}
                      {% endif %}

                      <div class="px-5 py-3">
                        <div class="d-flex flex-column price-block">
                          <span class="d-flex">
                            <strong class="font-weight-bold h5 basic-price align-self-center product-price">
                              <span>{{ currentVariant.product.price }}</span>
                            </strong>
                          </span>
                        </div>
                      </div>

                      {% if currentVariant.description and currentVariant.description != '' %}
                          <div class="subtitle-container"> {{ currentVariant.description }} </div>
                      {% elsif currentVariant.product %}
                          <div class="subtitle-container"> {{ currentVariant.product.description}} </div>
                      {% endif %}
                    
                      <div class="product-action-buttons">
                        <div class="btn-group">
                          {% if currentVariant.buttonAction == 'add' %}
                            <button class="app-add-item-to-cart btn btn-primary" title="{{ currentVariant.buttonText }}" product-id="{{currentVariant.product.id}}" text-visible="">
                              <i class="fas fa-shopping-cart"></i>
                              <span>{{ currentVariant.buttonText }}</span>
                            </button>
                          {% else %}
                            <a class="btn btn-primary" target="_blank" href="/{% if currentVariant.product.url %}{{ currentVariant.product.url }}{% else %}product/{{currentVariant.product.id}}{% endif %}">{{ currentVariant.buttonText }}</a>
                          {% endif %}
                        </div>
                      </div>
                  </div>

                </div>
            </div>
        </div>
    </div>

    {% include 'blocks/helpers/catalog-script' %}
{%- endunless %}

{% comment %}

previewIndex: int
criteria: none | url | userGroup | ab
variations: [
  criteriaValue: string
  product: {id, name, code, imgSrc, description, price, url}
  title: string
  description: string
  image: image
  backgroundImage: image
  buttonText: string
  buttonAction: add|open
  settingsIndex: int
]
settings: [
  imagePosition: null | right
  textWidth: col-md-* style
  imageWidth: col-md-* style
  headerType: h1-6|like-h1-6
  titleColor: string
  descriptionColor: string
  backgroundColor: string
  overlayColor: string

{% endcomment %}
