{% include 'blocks/helpers/cover-style' %}

<div id="{{ block.__id }}" style="position: relative;" class="{{ block.style }}">
  <div class="{% include 'blocks/helpers/block-paddings' %} block container">

  {% if block.displayType == 'simple' %}

      <div class="d-flex px-5 {% if block.titleAlignment == 'text-center'  %} justify-content-center {% else %} justify-content-between {% endif %}">

          {% if block.title %}
              <div class="pr-5">
                  {% include 'blocks/helpers/block-title' %}
              </div>
          {% endif %}

          {% if block.firstButton and block.firstButton.urlText and block.firstButton.urlText != '' %}
              <div>
                  <a href="{{block.firstButton.url}}" class="btn {{ block.firstButton.style }}" {% if block.firstButton.openInNewTab == 'True' %} target="_blank" {% endif %}>{{block.firstButton.urlText}}</a>
              </div>
          {% endif %}

      </div>
  {% else %}

      <div class="d-flex px-5 {% if block.titleAlignment == 'text-center'  %} justify-content-center {% else %} justify-content-between {% endif %}">

          <div class="d-flex flex-column align-self-center {{ block.textAreaWidth }}" style="flex: 1;">
              {% if block.title %}
                  {% include 'blocks/helpers/block-title' %}
              {% endif %}
                
              {% if block.subtitle != '' %}

                  {% if block.subtitle %}
                      <div class="subtitle-container" {% if block.titleAlignment == 'text-center'  %} style="text-align: center;" {% endif %}> {{ block.subtitle }} </div>                        
                  {% endif %}
              {% endif %}

              <div class="d-flex {% if block.titleAlignment == 'text-center'  %} justify-content-center {% endif %}">
                  {% if block.firstButton and block.firstButton.urlText and block.firstButton.urlText != '' %}
                      <a href="{{block.firstButton.url}}" class="btn {{ block.firstButton.style }}" {% if block.firstButton.openInNewTab == 'True' %} target="_blank" {% endif %}>{{block.firstButton.urlText}}</a>
                  {% endif %}
                  {% if block.secondButton and block.secondButton.urlText and block.secondButton.urlText != '' %}
                      <a href="{{block.secondButton.url}}" class="btn {{ block.secondButton.style }}" {% if block.secondButton.openInNewTab == 'True' %} target="_blank" {% endif %}>{{block.secondButton.urlText}}</a>
                  {% endif %}
              </div>
          </div>

          {% if block.brandColor != '' %}
          <div>
              <svg class="block__logo d-none d-md-block" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="215" width="215">
                <g opacity="1">
                  <path fill="{{ block.brandColor }}" fill-opacity="1" opacity="1" fill-rule="evenodd" d="M200.66665104457303 14.333270844959076C209.88095238095212 23.03571428571428 214.99999999999983 35.833333333333336 214.99999999999983 48.63095238095239L214.99999999999983 166.3690476190477C214.99999999999983 179.16666666666666 208.85715847923618 190.9404137021021 200.1547931489488 200.15479314894918C191.45234970819365 209.36901637486045 178.65473066057461 214.48806399390816 165.85711161295555 214.48806399390816L146.4047931489489 214.48806399390816C133.6071741013298 214.48806399390816 121.3214129493348 208.8570803687685 112.10711161295568 200.15479314894918C102.89288838704421 191.45234970819388 97.77384076799656 178.65473066057473 97.77384076799656 165.85711161295566C84.97622172037752 165.85711161295566 72.6904605683825 160.7380639939081 63.476159232003305 151.52384076799677C54.261936006091844 142.82139732724144 49.14288838704421 130.02377827962238 49.14288838704421 117.22615923200335L49.14288838704421 97.77384076799663C49.14288838704421 95.21431695847292 50.16668228876017 93.16672915504088 52.214270092192116 91.1189851306734C53.74999999999996 89.07139732724146 56.30952380952377 88.04768153599332 58.86904761904757 88.04768153599332L78.3214441935221 88.04768153599332L78.3214441935221 58.86904761904761C78.3214441935221 56.3095238095238 79.34523809523799 54.26193600609193 81.39282589866994 52.214348202659934C82.92855580647777 50.1666041782924 85.48807961600156 49.14288838704425 88.04760342552541 49.14288838704425C90.60712723504923 49.14288838704425 92.65479314894888 50.1666041782924 94.70238095238084 52.214348202659934C96.74996875581282 53.750000000000036 97.77384076799656 56.3095238095238 97.77384076799656 58.86904761904761L97.77384076799656 88.04768153599332L117.22615923200321 88.04768153599332L117.22615923200321 58.86904761904761C117.22615923200321 56.3095238095238 118.25003124418708 54.26193600609193 120.29761904761888 52.214348202659934C121.83334895542671 50.1666041782924 124.3928727649506 49.14288838704425 126.95239657447436 49.14288838704425C129.5119203839982 49.14288838704425 131.5595081874301 50.1666041782924 133.6071741013298 52.214348202659934C135.65476190476184 53.750000000000036 136.67855580647768 56.3095238095238 136.67855580647768 58.86904761904761L136.67855580647768 88.04768153599332L156.13095238095218 88.04768153599332C158.69047619047598 88.04768153599332 160.73806399390799 89.07139732724146 162.78572990780768 91.1189851306734C164.83331771123957 92.65479314894898 165.85711161295555 95.21431695847292 165.85711161295555 97.77384076799663L165.85711161295555 117.22615923200335C165.85711161295555 130.02377827962238 160.73806399390799 142.30946132114963 151.52384076799655 151.52384076799677C142.82139732724127 160.7380639939081 130.0237782796222 165.85711161295566 117.22615923200321 165.85711161295566C117.22615923200321 173.53568304152714 120.29761904761888 180.70231846400665 125.92860267275849 186.3333020891462C131.04765029180606 191.96428571428592 138.7262217203774 195.03574552990133 146.4047931489489 195.03574552990133L165.85711161295555 195.03574552990133C173.53568304152702 195.03574552990133 180.70239657447425 191.96428571428592 186.33330208914597 186.3333020891462C191.9642857142855 181.21425447009864 195.0357455299012 173.53568304152714 195.0357455299012 165.85711161295566L195.0357455299012 48.63095238095239C195.0357455299012 40.95238095238098 191.9642857142855 33.78574552990141 186.33330208914597 28.1547619047619C181.21425447009847 22.523778279622395 173.53568304152702 19.452318464006687 165.85711161295555 19.452318464006687L48.63095238095237 19.452318464006687C40.952380952380906 19.452318464006687 33.785745529901384 23.03571428571428 28.154761904761884 28.1547619047619C22.523778279622373 33.2738095238095 19.45239657447449 40.95238095238098 19.45239657447449 48.63095238095239L19.45239657447449 166.3690476190477C19.45239657447449 174.04761904761895 22.523778279622373 181.21425447009864 28.154761904761884 186.84523809523802C33.27380952380948 192.47622172037754 40.952380952380906 195.54768153599326 48.63095238095237 195.54768153599326L68.08334895542681 195.54768153599326C71.15473066057477 195.54768153599326 73.20239657447445 196.57139732724144 75.24998437790633 198.61898513067322C77.29765029180614 200.15479314894918 78.3214441935221 202.71431695847286 78.3214441935221 205.27384076799672C78.3214441935221 207.83336457752043 77.29765029180614 209.88095238095232 75.24998437790633 211.9285401843841C73.20239657447445 213.97612798781637 70.64287276495064 215.00000000000014 68.08334895542681 215.00000000000014L48.63095238095237 215.00000000000014C35.83333333333331 215.00000000000014 23.547650291806146 208.8570803687685 14.333348955426882 200.15479314894918C5.119047619047613 191.45234970819388 0 178.65473066057473 0 165.85711161295566L0 48.63095238095239C0 35.833333333333336 5.119047619047613 23.547650291806182 14.333348955426882 14.333270844959076C23.547650291806146 5.119047619047622 35.83333333333331 0 48.63095238095237 0L166.3690476190476 0C179.16666666666654 0 191.45234970819365 5.630983625139507 200.66665104457303 14.333270844959076ZM68.59520685105089 107.50000000000007L68.59520685105089 117.22615923200335C68.59520685105089 124.90473066057476 72.6904605683825 132.0713660830544 77.80950818743024 137.70234970819388C82.92855580647777 143.33333333333334 90.60712723504923 146.404793148949 98.28569866362058 146.404793148949L117.73809523809514 146.404793148949C125.4166666666666 146.404793148949 132.58330208914612 142.82139732724144 138.21428571428555 137.70234970819388C143.8451912289571 132.58330208914623 146.91665104457292 124.90473066057476 146.91665104457292 117.22615923200335L146.91665104457292 107.50000000000007L68.59520685105089 107.50000000000007Z"/>
                </g>
              </svg>
              </div>
          {% endif %}
          
      </div>

  {% endif %}

  </div>
</div>

{% comment %}

__id: string (unique block id)

name: string
headerType: [ h1, h2, h3, like-h1, like-h2, like-h3 ]
noTop: bool
noBottom: bool

textAreaWidth: string (col-lg, col-lg-10, col-lg-8, col-lg-6)
brandColor: string (color)
subtitle: string
displayType: string (logo | simple)

{% endcomment %}
