<div id="{{ block.__id }}" class="block {{block.containerAlignment}} {{block.backgroundColor}} {{block.topPadding}} {{block.bottomPadding}}
    {% if block.topDivider == 'True' %} block--divider-top {% endif %}
    {% if block.bottomDivider == 'True' %} block--divider-bottom {% endif %}
    {% if block.backgroundColorHex == '' %}{{block.backgroundColor}}{% endif %}"
    {% if block.backgroundColorHex != '' %}style="background-color:{{block.backgroundColorHex}}"{% endif %}">
    <div class="block__inner container">
        <div class="row">
            <div class="block__text {{block.textAreaWidth}}">
                {% if block.title != '' %}
                    {% include 'blocks/seo-text' tag: block.titleSeoTag, text: block.title, class: 'block__t' %}
                {% endif %}
                
                {% include 'blocks/headings' headings: block.headings %}

                {% if block.subtitle != '' %}
                    <div class="block__space"></div>
                    {% include 'blocks/seo-text' tag: block.subtitleSeoTag, text: block.subtitle, class: 'block__descr' %}
                {% endif %}
                <div class="block__space block__space--size-lg"></div>
            </div>
        </div>

        {% if block.logotypes.size > 0 %}
            <div class="list list-partners {% if block.containerAlignment == 'block--align-center' %}list-partners--centered justify-content-center{% endif %}">
                {% for logotype in block.logotypes %}
                    <div class="list__item">
                        <div class="list__img">
                            {% if logotype.url != '' %}
                                <a href="{{logotype.url}}" {% if logotype.openInNewTab == 'True' %}target="_blank"{% endif %}>
                                    <img data-src="{{ logotype.image.url }}" title="{{logotype.image.altText}}" class="list__pic lazyload" />
                                </a>
                            {% else %}
                                <img data-src="{{ logotype.image.url }}" title="{{logotype.image.altText}}" class="list__pic lazyload" />
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
