{% include 'blocks/overlay-color-hex-style-with-counter' predefinedColor: block.backgroundOverlayColor, customColor: block.backgroundOverlayColorHex %}

<div id="{{ block.__id }}">
    <div class="block {% include 'blocks/cover-background-settings' %}>
        <div class="block__inner container">
            <div class="row align-items-center">
                {% if block.horizontalAlignment == 'left' %}
                    <div class="col-lg">
                        {% if block.containerImage != '' %}
                            {% if block.containerImage.url != '' %}
                                <img data-src="{{ block.containerImage.url }}" title="{{block.containerImage.altText}}" class="block__pic lazyload" />
                            {% endif %}
                        {% endif %}
                    </div>
                {% endif %}
                
                <div class="col-lg {{block.verticalAlignment}}">
                    {% if block.note != '' %}
                        {% include 'blocks/seo-text' tag: block.noteSeoTag, text: block.note, class: 'block__note' %}
                        <div class="block__space"></div>
                    {% endif %}

                    {% if block.title != '' %}
                        {% include 'blocks/title-font-size' %}
                        {% include 'blocks/seo-text' tag: block.titleSeoTag, text: block.title, class: ('block__t ' | append titleFontSize) %}
                    {% endif %}

                    {% include 'blocks/headings' headings: block.headings %}
                    <div class="block__space"></div>

                    {% if block.subtitle != '' %}
                        {% include 'blocks/seo-text' tag: block.subtitleSeoTag, text: block.subtitle, class: 'block__descr' %}
                    {% endif %}
                    
                    {% if block.firstButton != '' and block.firstButton.urlText != '' %}
                        <div class="block__space"></div>
                        <div class="block__actions">
                            <a href="{{block.firstButton.url}}" class="{{block.firstButton.style}}" {% if block.firstButton.openInNewTab == 'True' %} target="_blank" {% endif %}>{{block.firstButton.urlText}}</a>
                            {% if block.secondButton != '' and block.secondButton.urlText != '' %}
                                <a href="{{block.secondButton.url}}" class="{{block.secondButton.style}}" {% if block.secondButton.openInNewTab == 'True' %} target="_blank" {% endif %}>{{block.secondButton.urlText}}</a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                
                {% if block.horizontalAlignment == 'right' %}
                    <div class="col-lg">
                        {% if block.containerImage != '' %}
                            {% if block.containerImage.url != '' %}
                                <img data-src="{{ block.containerImage.url }}" title="{{block.containerImage.altText}}" class="block__pic lazyload" />
                            {% endif %}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>