{% include 'blocks/helpers/color-style' %}

<div id="{{ block.__id }}" style="position: relative;">
    <div class="{% include 'blocks/helpers/block-paddings' %} block">
        <div class="container">
            <div class="px-5">
                <div class="d-flex flex-column align-items-center row">
                    <div class="text-center align-self-center {{ block.textAreaWidth }}">
                      {% include 'blocks/helpers/block-title' %}
                    </div>
                </div>
                {% if block.content %}
                    <div class="d-flex flex-column align-items-center row">
                        <div class="text-center text-container align-self-center {{ block.textAreaWidth }}">
                            {{ block.content }}
                        </div>
                    </div>
                {% endif %}

                {% if block.columns.size > 0 %}
                    <div class="d-flex flex-column align-items-center row justify-content-between">
                        <div class="row {{ block.textAreaWidth }} list-items {% if block.iconsType == 'letters' %} list-items-letters {% endif %}">
                            {% for column in block.columns %}
                                <div class="col-{{block.columnsCount}} list-item">
                                    <div>
                                        {% if block.iconsType == 'numbers' or block.iconsType == 'letters' %}
                                            <div class="text-{{column.button.style}} list__num list__num-{{block.iconsFilling}} {% if block.iconsAreFilled == 'True' %} list__num--filled-{{block.iconsFilling}} {% endif %}"></div>
                                        {% endif %}

                                        {% if block.iconsType == 'customIcon' and column.image.url != '' %}
                                            <img src="{{ column.image.url }}" title="{{column.image.altText}}" class="list-icon" />
                                        {% endif %}
                                        {% if block.iconsType == 'images' and column.image.url != '' %}
                                            <div class="list-image" title="{{column.image.altText}}" style="background-image: url({{ column.image.url }});"></div>
                                        {% endif %}
                                        {% if column.title != '' %}
                                            <div class="h4 py-3">{{ column.title }}</div>
                                        {% endif %}
                                        {% if column.content != '' %}
                                            <div class="py-3">{{ column.content }}</div>
                                        {% endif %}
                                        {% if column.button != '' and column.button.urlText != '' %}
                                            <div class="block__space"></div>
                                            <div class="block__actions">
                                              <a href="{{column.button.url}}" class="btn {{column.button.style}}" {% if column.openInNewTab == 'True' %} target="_blank" {% endif %}>{{column.button.urlText}}</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% comment %}

__id: string (unique block id)

name: string
headerType: [ h1, h2, h3, like-h1, like-h2, like-h3 ]
titleAlignment: [ center, left ]
titleStyle: [ null, bg-light ]
style: [ light, dark ]
noTop: bool
noBottom: bool

columnsCount: string (12, 6, 4, 3)
textAreaWidth: string (col-lg, col-lg-10, col-lg-8, col-lg-6)
iconsType: string (none, numbers, letters, images, customIcon)
iconsAreFilled: bool
title: string
content: string (wysiwyg)
columns: object[] {
  title: string
  image: object (url to image, alt text)
  button: object (url, text, style [ bootstrap buttons styles ], openInNewTab)
}

{% endcomment %}
