{% assign titleStyle = block.titleAlignment | append ' ' |append block.titleStyle %}

{% if givenTitle == null %}
{% assign givenTitle = block.title %}
{% endif %}

{% assign classClause = '' %}
{% if titleStyle %}
  {% assign classClause = 'class="'|append titleStyle|append '"' %}
{% endif %}

{% if givenTitle != "" %}
  {% if block.headerType == 'h1' %}
    <h1 {{ classClause }}>{{ givenTitle}}</h1>
  {% elsif block.headerType == 'h2' %}
    <h2 {{ classClause }}">{{ givenTitle }}</h2>
  {% elsif block.headerType == 'h3' %}
    <h3 {{ classClause }}">{{ givenTitle }}</h3>
  {% elsif block.headerType == 'like-h1' %}
    <div class="h1 like-h1 {{ titleStyle }}">{{ givenTitle }}</div>
  {% elsif block.headerType == 'like-h3' %}
    <div class="h3 like-h3 {{ titleStyle }}">{{ givenTitle }}</div>
  {% else %}
    <div class="h2 like-h2 {{ titleStyle }}">{{ givenTitle }}</div>
  {% endif %}
{% endif %}
{% assign givenTitle = null %}
